USE [master]
GO
/****** Object:  Database [DMV_Database]    Script Date: 5/14/2023 10:08:13 PM ******/
CREATE DATABASE [DMV_Database]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DMV_Database', FILENAME = N'D:\A_School_Work\C# 2\SQL\MSSQL16.MSSQLSERVER\MSSQL\DATA\DMV_Database.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DMV_Database_log', FILENAME = N'D:\A_School_Work\C# 2\SQL\MSSQL16.MSSQLSERVER\MSSQL\DATA\DMV_Database_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DMV_Database].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DMV_Database]
GO
/****** Object:  Table [dbo].[Drivers]    Script Date: 5/14/2023 10:08:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Drivers](
	[driverLicenseNumber] [varchar](50) NOT NULL,
	[driverFirstName] [varchar](50) NULL,
	[driverLastName] [varchar](50) NULL,
	[driverSocialSecurity] [varchar](50) NULL,
	[driverPhoneNumber] [varchar](50) NULL,
 CONSTRAINT [PK_Drivers] PRIMARY KEY CLUSTERED 
(
	[driverLicenseNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DriversInfractions]    Script Date: 5/14/2023 10:08:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DriversInfractions](
	[driverLicenseNumber] [varchar](50) NOT NULL,
	[infractionID] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DriversVehicle]    Script Date: 5/14/2023 10:08:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DriversVehicle](
	[vehicleLicensePlate] [varchar](50) NOT NULL,
	[driverLicenseNumber] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Infractions]    Script Date: 5/14/2023 10:08:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Infractions](
	[infractionID] [varchar](50) NOT NULL,
	[infractionName] [varchar](50) NULL,
	[infractionFine] [varchar](50) NULL,
	[infractionDate] [date] NULL,
 CONSTRAINT [PK_Infractions] PRIMARY KEY CLUSTERED 
(
	[infractionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vehicles]    Script Date: 5/14/2023 10:08:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehicles](
	[vehicleLicensePlate] [varchar](50) NOT NULL,
	[vehicleVIN] [varchar](50) NULL,
	[vehicleMake] [varchar](50) NULL,
	[vehicleModel] [varchar](50) NULL,
	[vehicleYear] [varchar](50) NULL,
	[vehicleColor] [varchar](50) NULL,
 CONSTRAINT [PK_Vehicles] PRIMARY KEY CLUSTERED 
(
	[vehicleLicensePlate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
